<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ready2orderAuthorization" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYXBpLnJlYWR5Mm9yZGVyLmF0IiwianRpIjoiTG50dENxRE1VbnBuVmtpNzRhSVRackxNZmJCYzNValduMVgxZXJZenk3QT0iLCJpYXQiOjE1Mjg5NjI1NDksImRhdGEiOnsiY29tcGFueV9pZCI6Mzk4NTgsImludGVncmF0b3JfaWQiOjI5N319.qBomL5WBF0CEqqZTRs7eRR14csLWeF-46bNN19LCGLA"/>
    <add key="pandaParkenAuthorization" value="daf15a50f12642a5021d8e77dcef6ca7bc6e81cfde73688e602e6f8925bce99f1940c8772efc616a4eb44155db6e331ebb1e295da190b0c8ea063401dd52a2b448ce7d6416a674287149411aff0dd3ea42c4a68338854601bfe3818a00d1e2aa32898235e7ae6cf880c60ec5baeac227"/>
    <add key="printer" value="Zebra KR203"/>
    <add key="parameters" value="-ap Default"/>
    <add key="ready2orderUri" value="https://api.ready2order.com/v1/document/invoice"/>
    <add key="pandaParkenExternalGetBillDataUri" value="https://panda.bsoft.si/admin/ExternalGetBillData"/>
    <add key="pandaParkenExternalCheckoutUri" value="https://panda.bsoft.si/admin/ExternalCheckout"/>
    <add key="terminalId" value="23490031"/>
    <add key="terminalLog" value="C:\\Temp"/>
  </appSettings>
</configuration>